[Unit]
Description=TDMA
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=tdma
Group=tdma
ExecStart=/usr/lib/tdma/bin/tdma
KillMode=process
Restart=on-failure
RestartSec=10
TimeoutStopSec=20
WorkingDirectory=/var/lib/tdma

[Install]
WantedBy=multi-user.target